@charset "UTF-8";
:root {
  --main-red: #ea5a5e;
  --main-blue: #0079C2;
  --main-bg-red: #ffc5c7;
  --main-bg-blue: #e5f2f9;
  --main-bg-gray: #fafafa;
  --main-line-gray: #cbd5e0;
  --main-text: #333333;
  --main-gray: #777777;
}

html {
  font-size: inherit;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Proxima Nova, Verdana, 游ゴシック, YuGothic, Meiryo, sans-serif, sans-serif;
  font-size: 16px;
  margin: 0 auto;
  padding: 0;
  background-color: var(--main-bg-gray);
  color: var(--main-text);
  letter-spacing: 0.05em;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

a:link, a:visited {
  text-decoration: none;
}

input[type=text],
textarea {
  width: 100%;
  padding: 1em;
  border: 1px solid var(--main-line-gray);
  border-radius: 4px;
  margin-bottom: 1rem;
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Proxima Nova, Verdana, 游ゴシック, YuGothic, Meiryo, sans-serif, sans-serif;
  font-size: inherit;
}

.wrapper {
  width: 1080px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}
@media screen and (max-width: 1080px) {
  .wrapper {
    width: 100%;
    padding: 0 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main-contents {
  width: calc(100% - 320px);
}
@media screen and (max-width: 1080px) {
  .main-contents {
    width: 100%;
  }
}

.sidebar {
  width: 280px;
}
@media screen and (max-width: 1080px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar h2 {
  margin: 0.5em 0;
  font-weight: 500;
}

.sidebar__inner {
  position: -webkit-sticky;
  position: sticky;
  top: 40px;
}
@media screen and (max-width: 1080px) {
  .sidebar__inner {
    position: relative;
    top: unset;
  }
}

/* BUTTON */
.btn__primary {
  font-size: 1rem;
  display: block;
  width: 280px;
  padding: 1rem 2rem;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  background-color: var(--main-red);
  border-radius: 4px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.btn__primary:hover {
  background-color: var(--main-blue);
}

.btn__gray {
  font-size: 1rem;
  display: block;
  width: 280px;
  padding: 1rem 2rem;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  background-color: var(--main-gray);
  border-radius: 4px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.btn__gray:hover {
  background-color: var(--main-text);
}

.btn__edit,
.btn__reply {
  font-size: 14px;
  color: var(--main-gray);
}
.btn__edit:hover,
.btn__reply:hover {
  color: var(--main-blue);
  text-decoration: underline;
}

.btn__reply {
  /* 返信機能未実装のため非表示にしています */
  display: none;
  /* 実装後この文を削除 */
}

.btn__delete {
  font-size: 14px;
  color: var(--main-gray);
  text-decoration: underline;
}
.btn__delete:hover {
  color: var(--main-red);
}

.btn-fixed {
  display: none;
}
@media screen and (max-width: 1080px) {
  .btn-fixed {
    position: fixed;
    right: 10px;
    bottom: 10px;
  }
}

.btn__to-draft {
  font-size: 1rem;
  display: block;
  color: #ffffff;
  background-color: var(--main-red);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
}
.btn__to-draft::after {
  content: "+";
  font-family: "Font Awesome 6";
  font-weight: 700;
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 12px;
}

.page-nation {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}
.page-nation li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  background-color: #e4e4e4;
  width: 40px;
  height: 40px;
}
.page-nation li a {
  color: var(--main-text);
}
.page-nation li:hover {
  background-color: var(--main-red);
}
.page-nation li:hover a {
  color: #ffffff;
}
.page-nation li.current {
  color: #ffffff;
  background-color: var(--main-red);
}

.flex__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex__end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex__start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.sp-only {
  display: none;
}
@media screen and (max-width: 1080px) {
  .sp-only {
    display: block;
  }
}

.mt40 {
  margin-top: 40px;
}

.mt80 {
  margin-top: 80px;
}

.logo a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.logo a:hover {
  opacity: 0.7;
}

/* HEADER */
header {
  background-color: #ffffff;
  text-align: center;
  margin-bottom: 80px;
}

header .logo a {
  color: var(--main-text);
}

.header__wrapper {
  padding: 1.25rem;
}

.header__nav {
  background-color: var(--main-red);
  color: #ffffff;
  padding: 0.5em 0;
}

.logo__header {
  font-family: "Noto Sans Display";
  font-weight: 900;
  font-size: 60px;
  width: 100%;
  /* color: var(--main-blue);
  color: var(--main-red); */
}

/* FOOTER */
footer {
  background-color: var(--main-red);
  margin-top: 100px;
  text-align: center;
  color: #ffffff;
}

footer .logo a {
  color: #ffffff;
}

.footer__inner {
  padding-top: 40px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1080px) {
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.logo__footer {
  font-family: "Noto Sans Display";
  font-weight: 900;
  font-size: 40px;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2em;
}
@media screen and (max-width: 1080px) {
  .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__nav li a {
  color: #ffffff;
}
.footer__nav li a:hover {
  text-decoration: underline;
}

/* 投稿リスト */
.post__list li {
  width: 100%;
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 10px #cbd5e0;
          box-shadow: 0 0 10px #cbd5e0;
  padding: 20px;
  margin-bottom: 10px;
}

.post__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--main-gray);
  font-size: 14px;
  margin-bottom: 0.5rem;
}
.post__head ._left, .post__head ._right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
@media screen and (max-width: 480px) {
  .post__head ._left, .post__head ._right {
    width: 100%;
  }
  .post__head ._right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.post__head .post-name {
  color: var(--main-red);
  font-weight: 700;
}

.popup__container {
  width: 100%;
  height: 100%;
  background-color: #33333330;
  background-blend-mode: multiply;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__container.js-close {
  display: none;
}

.popup__box {
  width: min(80vw, 600px);
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
  padding: 2.5rem;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px #33333350;
          box-shadow: 0 0 10px #33333350;
}

.edit-page .btn__gray {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 1rem;
}
.edit-page .btn__primary {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
/*# sourceMappingURL=style.css.map */